/*
======================================================================
  Animations
======================================================================
*/

// highlight target
@include keyframes(highlight) {
    0% { background-color: rgba($highlight-color,0); }
   50% { background-color: rgba($highlight-color,0.75); }
  100% { background-color: rgba($highlight-color,0); }
}