/*
======================================================================
  Misc Styles
======================================================================
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.group:before, .group:after { content: ""; display: table; }
.group:after { clear: both; }