/*
======================================================================
  Misc Styles
======================================================================
*/

hr {
    display: block;
    height: 1px;
    margin: 0;
    padding: 0;
    border: 0;
    border-top: 1px solid #ccc;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.group:before, .group:after { content: ""; display: table; }
.group:after { clear: both; }
