/*
======================================================================
  Global Styles
======================================================================
*/

html {
  background: $white;
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  background-color: $background-base;
  font-family: $base-font;
  font-size: $base-px;
  font-size: $base-rem;
  color: $text-base;
  line-height: $base-lh;
  text-rendering: optimizeLegibility;
  position: relative;
  min-height: 100vh;
}
