<!doctype html>
<html class="no-js" lang="en-US">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="x-dns-prefetch-control" content="off">
  <link rel="dns-prefetch" href="">
  <link rel="preconnect" href="">

  <link rel="manifest" href="/.well-known/site.webmanifest">
  <meta name="theme-color" content="">
  <link rel="icon" sizes="any" href="/icon.svg">
  <link rel="apple-touch-icon" href="/icon.png">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- <link rel="canonical" href=""> -->

  <meta name="apple-itunes-app" content="app-id=xxx, app-argument=xxx">

  <meta property="og:type" content="website">
  <meta property="og:site_name" content="">
  <meta property="og:url" content="">
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="/icon.png">
  <meta property="og:image:alt" content="">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@">
  <meta name="twitter:creator" content="@">

  <%= htmlWebpackPlugin.tags.headTags %>
</head>

<body class="app">
  <header class="header" role="">
    <nav class="nav" role="navigation"></nav>
  </header>
  <main class="main" role="main"></main>
  <footer class="footer" role="contentinfo"></footer>
  <%= htmlWebpackPlugin.tags.bodyTags %>
</body>

</html>
